@use "breakpoints";

.c-banner {
    position: fixed;
    background-color: var(--color-primary);
    bottom: 0;
    left: 0;
    width: 100%;
    height: var(--h-banner);
    display: flex;
    align-items: center;
    z-index: var(--z-index-top);
    box-sizing: border-box;
    padding: 0.625rem var(--grid-margin);
}

.c-banner__content {
    border: 1px solid var(--color-secondary);
    height: 100%;
    width: 100%;
    display: flex;

    align-items: center;
    justify-content: space-around;
    padding: 0 1rem;
}

.c-banner__info,
.c-banner__accessibility {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.c-banner__accessibility {
    display: none;
    @include breakpoints.breakpoint("lg") {
        display: flex;
    }
    @include breakpoints.breakpoint("xl") {
        display: flex;
    }
}

.c-banner__info-text {
    display: none;
    @include breakpoints.breakpoint("sm") {
        display: flex;
    }
    @include breakpoints.breakpoint("lg") {
        display: flex;
    }
    @include breakpoints.breakpoint("xl") {
        display: flex;
    }
}
.c-banner__info-number {
    text-decoration: underline;
}
.c-banner__info-text,
.c-banner__info-number,
.c-banner__accessibility-text {
    color: var(--color-secondary);
    line-height: 1.2;
    font-size: 1.5rem;
    @include breakpoints.breakpoint("md") {
        font-size: 1.8rem;
    }
    @include breakpoints.breakpoint("lg") {
        font-size: 2rem;
    }
    @include breakpoints.breakpoint("xl") {
        font-size: 2.25rem;
    }
}

.c-banner__info-number a {
    color: var(--color-secondary);
    //font-weight: var(--weight-medium);
    text-decoration: none;
}

.c-banner__info-text:first-letter,
.c-banner__accessibility-text:first-letter {
    text-transform: uppercase;
}

.c-banner__info-icon svg,
.c-banner__accessibility-icon svg {
    color: var(--color-secondary);
    width: 3.313rem;
    height: 3.313rem;
    vertical-align: middle;
}
