---
import InstagramHash from "@components/ui/InstagramHash.astro";
import { getCollection } from "astro:content";

// Define the type for the menu data based on the updated schema
interface MenuData {
    carte: { title: string; url: string };
    vins: { title: string; url: string };
    special: { title: string; url: string };
}

const menuEntries = await getCollection("menu");
const menuText = menuEntries.find((entry) => entry.slug === "menu-text");
const items = menuText?.data as MenuData | undefined; // Explicitly type the data
---

<section id="menus" class="c-section">
    <div class="o-layout__menus">
        <div class="c-menu-principal">
            <ul class="c-menu-principal_list">
                {
                    items ? (
                        Object.entries(items).map(([key, item]) => (
                            <li>
                                <a
                                    href={item.url}
                                    class="c-menu-principal_link"
                                    target="_blank"
                                    rel="noopener noreferrer"
                                >
                                    {item.title}
                                </a>
                            </li>
                        ))
                    ) : (
                        <li>Aucun élément disponible pour le moment</li>
                    )
                }
            </ul>
        </div>
        <InstagramHash />
    </div>
</section>
