---

---

<button class="c-header__mobile-nav-toggle" aria-expanded="false">
    <svg
        xmlns="http://www.w3.org/2000/svg"
        width="2.25rem"
        height="2.25rem"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="1.3333333333333333"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="c-header__mobile-nav-toggle-icon c-header__mobile-nav-toggle-icon--hamburger"
        ><line x1="4" x2="20" y1="12" y2="12"></line><line
            x1="4"
            x2="20"
            y1="6"
            y2="6"></line><line x1="4" x2="20" y1="18" y2="18"></line></svg
    >
    <svg
        xmlns="http://www.w3.org/2000/svg"
        width="2.25rem"
        height="2.25rem"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="c-header__mobile-nav-toggle-icon c-header__mobile-nav-toggle-icon--close hidden"
        ><path d="M18 6 6 18"></path><path d="m6 6 12 12"></path></svg
    >
</button>
