---
import { Nav, SocialNav, Logo, Hamburger } from "@components/index";
import MobileNavToggle from "@scripts/MobileNavToggle";
import ScrollObserver from "@scripts/ScrollObserver";
---

<div class="scroll-trigger"></div>
<header class="c-header" data-scroll-toggle>
    <div class="c-header__inner" data-scroll-toggle>
        <Nav isMobile={false} />
        <Logo />
        <SocialNav />
        <Hamburger />
    </div>
</header>
<div class="c-mobile-nav-overlay">
    <Nav isMobile={true} />
</div>

<MobileNavToggle client:idle />
<ScrollObserver client:idle scrollThreshold={50} threshold={0.1} />
