---
import { getEntry } from "astro:content";
import Facebook from "@assets/icons/facebook.svg";
import Instagram from "@assets/icons/instagram.svg";

const siteConfig = await getEntry("site", "settings");
const { socials } = siteConfig?.data ?? {};
const { facebook, instagram } = socials ?? {};
---

<div class="c-header__social">
    <ul class="c-header__social-list">
        <li class="c-header__social-item">
            <a
                href={facebook}
                aria-label="Facebook"
                class="c-header__social-link"
                target="_blank"
                rel="noopener noreferrer"><Facebook /></a
            >
        </li>
        <li class="c-header__social-item">
            <a
                href={instagram}
                aria-label="Instagram"
                class="c-header__social-link"
                target="_blank"
                rel="noopener noreferrer"><Instagram /></a
            >
        </li>
    </ul>
</div>
