:root {
    /* Colors */
    --color-text: #432918;
    --color-background: #fff4e5;
    --color-landing-ui-light: #fff4e5;
    --color-landing-ui-dark: #432918;
    --color-primary: #432918;
    --color-secondary: #fff4e5;
    --color-link: #98676a;
}
