---

---

<div class="o-container">
    <slot />
</div>

<style lang="scss">
    .o-container {
        min-height: 100vh;
        max-width: var(--container-width);
        margin: 0 auto;
        padding-right: var(--grid-margin);
        padding-left: var(--grid-margin);
    }
</style>
