---
import Nav from "@components/Nav.astro";
import SocialNav from "@components/SocialNav.astro";
import Logo from "@components/Logo.astro";
import Hamburger from "@components/Hamburger.astro";
---

<div class="scroll-trigger"></div>
<header class="c-header" data-scroll-toggle>
    <Nav isMobile={false} />
    <Logo />
    <SocialNav />
    <Hamburger />
</header>
<div class="c-mobile-nav-overlay">
    <Nav isMobile={true} />
</div>
<script>
    import "../scripts/menu.js";
</script>

<script is:inline>
    document.addEventListener("DOMContentLoaded", () => {
        const scrollThreshold = 50; // Must match the 'top' value in HTML
        const elementsToToggle = document.querySelectorAll(
            "[data-scroll-toggle]",
        );
        const trigger = document.querySelector(".scroll-trigger");

        if (trigger && elementsToToggle.length) {
            let isScrolled = false;

            new IntersectionObserver(
                ([entry]) => {
                    const newState = !entry.isIntersecting;
                    if (newState !== isScrolled) {
                        isScrolled = newState;
                        elementsToToggle.forEach((el) => {
                            el.classList.toggle("-scrolled", isScrolled);
                        });
                    }
                },
                {
                    threshold: 0.1,
                    rootMargin: `${scrollThreshold}px 0px 0px 0px`,
                },
            ).observe(trigger);
        }
    });
</script>
