---
import FacebookIcon from "@assets/icons/facebook.svg?raw";
import InstagramIcon from "@assets/icons/instagram.svg?raw";

interface Props {
    facebookIcon?: string;
    instagramIcon?: string;
}

const { facebookIcon = FacebookIcon, instagramIcon = InstagramIcon } =
    Astro.props;
---

<div class="c-header__social">
    <ul class="c-header__social-list">
        <li class="c-header__social-item">
            <a href="#" aria-label="Facebook" class="c-header__social-link"
                >{facebookIcon && <Fragment set:html={facebookIcon} />}</a
            >
        </li>
        <li class="c-header__social-item">
            <a href="#" aria-label="Instagram" class="c-header__social-link"
                >{instagramIcon && <Fragment set:html={instagramIcon} />}</a
            >
        </li>
    </ul>
</div>
