---
import { siteConfig } from "@content/config";
import Phone from "@assets/icons/phone.svg";
import Accessibility from "@assets/icons/accessibility.svg";

interface Props {
    generalInfo: string;
    additionalInfo: string;
}
const { phoneLink, phone } = siteConfig.contact;
const { generalInfo, additionalInfo } = Astro.props;
---

<div class="c-banner">
    <div class="c-banner__content">
        <div class="c-banner__info">
            <span class="c-banner__info-icon">
                <Phone />
            </span>
            <span class="c-banner__info-text">
                {generalInfo}
            </span>
            <span class="c-banner__info-number">
                <a href={`tel:${phoneLink}`}>{phone}</a>
            </span>
        </div>
        <div class="c-banner__accessibility">
            <span class="c-banner__accessibility-text">
                {additionalInfo}
            </span>
            <span class="c-banner__info-icon">
                <Accessibility />
            </span>
        </div>
    </div>
</div>
